<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/images/flutter-mono-81x100.png" alt="Flutter Logo" width="81" height="100">
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="https://groups.google.com/forum/#!forum/flutter-dev">{{ site.email  | regex_replace: '(.*?@).*', '\1' }}</a></li>
              <li><a href="/tos">条款</a></li>
              <li><a href="/security">安全</a></li>
              <li><a href="https://www.google.com/intl/en/policies/privacy">隐私</a></li>
              <li><a href="https://flutter-io.cn" class="text-nowrap">社区中文资源</a></li>
          </ul>

          <p class="licenses">
            除非另有说明，本作品采用
            <a rel="license" href="https://creativecommons.org/licenses/by/4.0">知识共享署名4.0国际许可协议</a>授权，代码样本根据BSD许可进行许可。
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
